.clearfix:after {
  content:" ";
  display:block;
  clear:both;
}

div#animate-complete-title {
  float: left;
  background-color: red;
  height: 50px;
  width: 100px;
  text-align: center;
}
div#animate-complete-block-1 {
  float: left;
  background-color: #ff6600;
  height: 50px;
  width: 100px;
}
div#animate-complete-block-2 {
  float: left;
  background-color: #ff9900;
  height: 50px;
  width: 100px;
}
div#animate-complete-block-3 {
  float: left;
  background-color: #ffcc00;
  height: 50px;
  width: 100px;
}

.start__btn {
  width: 50px;
  margin: 0;
  text-align: center;
  border: 1px solid #000;
}

.opacity {
  height: 50px;
  width: 100px;
  background-color: #ccc;
}

.link_id {
  list-style:none;
  padding: 0;
}

.continuity {
  width: 50px;
  height: 50px;
  background: #3399cc;
  position: relative;
}

.opa {
  width: 50px;
  height: 50px;
  background: #000;
}

.box__wrap {
  margin-top: 10px;
}

.box1 {
  display: inline-block;
  background: #ccc;
  height: 50px;
  width: 50px;
  text-align: center;
  margin-right: 10px;
  border: 2px solid #ccc;
  transition: all .3s ease;
}

.box2 {
  display: inline-block;
  background: #ccc;
  height: 50px;
  width: 50px;
  text-align: center;
  margin-right: 10px;
  border: 2px solid #ccc;
  transition: all .3s ease 0s;
}

.box3 {
  display: inline-block;
  background: #ccc;
  height: 50px;
  width: 50px;
  text-align: center;
  border: 2px solid #ccc;
  transition: all .3s ease 0s;
}

.box1:hover {
  background: #fff;
  position: 
}

.box2:hover {
  transform: scale(0.8) rotate(90deg);
}

.box3:hover {
  transform: rotate(90deg);
  /* transform: rotate(720deg); */
}

.move {
  margin-top: 10px;
  position: relative;
  box-shadow: 0 0px 0px 24px #eee inset;
  height: 24px;
  width: 350px;
}

.move:before {
  position: absolute;
  background: #7fcfe2;
  height: 24px;
  width: 24px;
  content: '';
  left: 0;
  top: 0;
  animation: square 4s linear infinite;
}

@keyframes square {
  50% {
    left: 100%;
    top: 0;
    transform: translate(-100%, 0);
  }
  100% {
    left: 0%;
    top: 0%;
    transform: translate(0%, 0%);
  }
}

.footer {
  height: 50px;
  width: 50px;
  background-color: #FFDDFF;
}
